@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

header {
  background: linear-gradient(90deg, #79e4a6, #1bc296);
}

header .container {
  height: 4.375rem;
}
