@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
}

header {
  background: linear-gradient(90deg, #79e4a6, #1bc296);
}

.logo h1 {
  font-family: Noto Sans;
  color: #f9f9f7;
}

header .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1100px;
  margin: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #f9f9f7;
  font-size: 2.1rem;
  padding: 6px 10px;
  margin-left: 48px;
  font-family: Poppins;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.151);
  transition: 0.3s;
}

@media (max-width: 964px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 809px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 709px) {
  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: white; 
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }

  .menu-burguer {
    width: 40px;
    height: 30px;
  }

  .menu-section.on {
    position: absolute;

    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(150deg, #79e4a6, #1bc296);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-burguer {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .menu-section.on .menu-burguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-burguer .two {
    opacity: 0;
  }

  .menu-section.on .menu-burguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    display: block;
    text-align: center;
  }

  .menu-section.on nav ul li a {
    transition-duration: 0.3s;
    font-size: 5rem;
    line-height: 15rem;
    margin-left: 0;+
  }
}
